<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.3.1.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		<section name="proxyServices" type="ShareDeployed.Proxy.IoC.Config.ProxyServicesHandler, ShareDeployed.Proxy, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
	</configSections>
	<connectionStrings>
		<add name="Connection1" connectionString="Data Source=CawaDell-PC; Initial Catalog=ShareDeploy; Integrated Security=True; Connect Timeout=30;" providerName="System.Data.SqlClient" />
		<add name="Somee" connectionString="workstation id=ShareDeployed.mssql.somee.com; packet size=4096; user id=oleksandr; pwd=Columbia03; data source=ShareDeployed.mssql.somee.com; persist security info=False; initial catalog=ShareDeployed" providerName="System.Data.SqlClient" />
		<add name="Messanger" connectionString="workstation id=messangershare.mssql.somee.com;packet size=4096;user id=sharemessanger;pwd=Columbia03;data source=messangershare.mssql.somee.com;persist security info=False;initial catalog=messangershare" providerName="System.Data.SqlClient" />
	</connectionStrings>

	<log4net debug="true">
		<appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
			<file value="Log\\UnitTestProxyLog.txt" />
			<appendToFile value="true" />
			<rollingStyle value="Size" />
			<maxSizeRollBackups value="10" />
			<maximumFileSize value="10MB" />
			<staticLogFileName value="true" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%-5p %d %5rms %-22.22c{1} %-18.18M - %m%n" />
			</layout>
		</appender>
		<root>
			<level value="DEBUG" />
			<appender-ref ref="RollingLogFileAppender" />
		</root>
	</log4net>

	<proxyServices omitExisting="true">
		<services>
			<service scope="1" alias="logAggregator" type="ShareDeployed.Proxy.Logging.LogAggregator, ShareDeployed.Proxy" contract="ShareDeployed.Proxy.Logging.ILogAggregator, ShareDeployed.Proxy" />
			<service alias="exceptionalInterceptor" type="ShareDeployed.Proxy.ExceptionInterceptor,ShareDeployed.Proxy">
				<properties>
					<property name="LogAggregator" alias="logAggregator" defaultIfMissed="true"/>
				</properties>
			</service>
			<service alias="parameters" type="ShareDeployed.Test.Ioc.ClassWithParameters,ShareDeployed.Test">
				<ctors>
					<ctor-arg name="log" alias="logAggregator" />
					<ctor-arg name="maxSpeed" value="12" valueType="int"/>
				</ctors>
			</service>
		</services>
	</proxyServices>

	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
			<parameters>
				<parameter value="v11.0" />
			</parameters>
		</defaultConnectionFactory>
	</entityFramework>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
	</startup>
</configuration>