@if (Request.IsAuthenticated)
{
	<text>
	Hello, @Html.ActionLink(User.Identity.Name, "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage" })!
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
		{
			@Html.AntiForgeryToken()
			<a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
		}
	</text>
}
else
{
	<ul>
		<li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, 
							htmlAttributes: new {data_ajax="false", id = "registerLink", data_mini="true" })</li>
		<li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, 
							htmlAttributes: new { id = "loginLink", data_ajax="false", data_mini="true" })</li>
	</ul>
}
