<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <SiteUrlToLaunchAfterPublish />
    <MSDeployServiceURL>localhost</MSDeployServiceURL>
    <DeployIisAppPath>Development/ShareDeployed</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>InProc</MSDeployPublishMethod>
    <UserName />
    <_SavePWD>False</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="Somee" Order="1" Enabled="False">
          <Destination Path="Data Source=ShareDeployed.mssql.somee.com;Initial Catalog=ShareDeployed;Persist Security Info=False;User ID=oleksandr;Password=Columbia03;Packet Size=4096;Workstation ID=ShareDeployed.mssql.somee.com" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="ShareDeployed.DataAccess.ShareDeployedContext, ShareDeployed.DataAccess" MigrationConfiguration="ShareDeployed.DataAccess.Migrations.Configuration, ShareDeployed.DataAccess" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="Messanger" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="ShareDeployed.DataAccess.MessangerContext, ShareDeployed.DataAccess" MigrationConfiguration="ShareDeployed.DataAccess.Migrations.MigrationConfiguration, ShareDeployed.DataAccess" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <AzureAuthenticationAppPrincipalID />
    <AzureAuthenticationTenantID />
    <AzureAuthenticationReplyUrl />
    <ExcludeApp_Data>False</ExcludeApp_Data>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Messanger-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Somee-Web.config Connection String">
      <ParameterValue>Data Source=ShareDeployed.mssql.somee.com;Initial Catalog=ShareDeployed;Persist Security Info=False;User ID=oleksandr;Password=Columbia03;Packet Size=4096;Workstation ID=ShareDeployed.mssql.somee.com</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>