<script type="text/html" id="newMessage-template">
		<li class="ui-widget-content ui-corner-all">
			<h3 data-bind="text: Subject" class="ui-widget-header"></h3>
			<div>
				<span data-bind="text: From || 'From?'"></span>
			</div>
			<div>
				<span data-bind="stringOfDate: When"></span>
			</div>
			<div><a href='#' data-bind='click: $root.markAsRead'>Mark as read</a></div>
		</li>
</script>
<script type="text/html" id="groupMessagesTempl">
		<li>
			<h3 data-bind="text: GroupName" class="ui-widget-header"></h3>
			<ul data-bind="{template: {name:'MsgTemplate', foreach:Messages }}">
			</ul>
		</li>
</script>
<script type="text/html" id="MsgTemplate">
		<li class="ui-widget-content ui-corner-all">
			<h4 data-bind="text: Subject" class="ui-widget-header"></h4>
			<div>
				<span data-bind="text: From || 'From?'"></span>
			</div>
			<div>
				<span data-bind="stringOfDate: When"></span>
			</div>
			<div><a href='#' data-bind='click: $root.deleteMsg'>Delete</a></div>
			<div><a href='#' data-bind='click: $root.onResponseToMsg'>Reply</a></div>
	</li>
</script>