<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="entityFramework"
						 type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.3.1.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
						 requirePermission="false" />
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
		<section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
		<sectionGroup name="elmah">
			<section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah" />
			<section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
			<section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah" />
			<section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah" />
		</sectionGroup>
	</configSections>
	<log4net debug="true">
		<appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
			<file value="Log\\AppLog.txt" />
			<appendToFile value="true" />
			<rollingStyle value="Size" />
			<maxSizeRollBackups value="10" />
			<maximumFileSize value="10MB" />
			<staticLogFileName value="true" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%-5p %d %5rms %-22.22c{1} %-18.18M - %m%n" />
			</layout>
		</appender>
		<root>
			<level value="DEBUG" />
			<appender-ref ref="RollingLogFileAppender" />
		</root>
	</log4net>
	<nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
		<targets>
			<target name="logfile" xsi:type="File" fileName="${basedir}/Log/${date:format=yyyy-MM-dd}-webapi.log" />
			<!--<target name="eventlog" xsi:type="EventLog" layout="${message}" log="Application" source="My Web API Application" />-->
		</targets>
		<rules>
			<logger name="*" minlevel="Trace" writeTo="logfile" />
			<!--<logger name="*" minlevel="Trace" writeTo="eventlog" />-->
		</rules>
	</nlog>
	<connectionStrings>
		<add name="Somee" connectionString="workstation id=ShareDeployed.mssql.somee.com; packet size=4096; user id=oleksandr; pwd=Columbia03; data source=ShareDeployed.mssql.somee.com; persist security info=False; initial catalog=ShareDeployed" providerName="System.Data.SqlClient" />
		<!--<add name="Messanger"
			 connectionString="Data Source=.\sqlexpress; packet size=4096; user id=sa; pwd=Columbia03; persist security info=False; initial catalog=Messanger"
			 providerName="System.Data.SqlClient" />-->
		<add name="Messanger" connectionString="workstation id=messangershare.mssql.somee.com;packet size=4096;user id=sharemessanger;pwd=Columbia03;data source=messangershare.mssql.somee.com;persist security info=False;initial catalog=messangershare" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<appSettings>
		<add key="webpages:Version" value="2.0.0.0" />
		<add key="webpages:Enabled" value="false" />
		<add key="PreserveLoginUrl" value="true" />
		<add key="ClientValidationEnabled" value="true" />
		<add key="UnobtrusiveJavaScriptEnabled" value="true" />
		<add key="RequireSsl" value="false" />
		<!-- populate auth.apiKey with your janrain engage API key -->
		<add key="auth.apiKey" value="0592cd26d11ac6565fcedfa09ac3148c2b8b74bb" />
		<!-- populate auth.appName with your janrain app name -->
		<add key="auth.appName" value="sharedeployed" />
		<!-- add google analytics token -->
		<add key="googleAnalytics" value="" />
		<!-- populate auth.appId with your janrain appId -->
		<add key="auth.appId" value="cehkalnnagflihhngoam" />
		<!-- populate with commit id -->
		<add key="releaseSha" value="" />
		<!-- populate with git release branch -->
		<add key="releaseBranch" value="" />
		<!-- populate with time of release -->
		<add key="releaseTime" value="" />
		<add key="broadcastTime" value="5" />
		<add key="logLevels" value="Warn,Error,Fatal" />
		<add key="SessionValidationKey" value="DAD4D476F80E0148BCD134D7AA5C61D7" />

		<add key="elmah.mvc.disableHandler" value="false" />
		<add key="elmah.mvc.disableHandleErrorFilter" value="false" />
		<add key="elmah.mvc.requiresAuthentication" value="false" />
		<add key="elmah.mvc.allowedRoles" value="*" />
		<add key="elmah.mvc.route" value="elmah" />
	</appSettings>
	<system.web>
		<!--In order to use SecureSessionModule uncomment section below-->
		<!--<httpModules>
			 <add name="SecureSession" type="SecureSession.SecureSessionModule, SecureSessionModule" />
		</httpModules>-->
		<customErrors mode="RemoteOnly"></customErrors>
		<compilation debug="true" targetFramework="4.0" />
		<httpRuntime />
		<!--Uncomment line below to throttle settings-->
		<!--<applicationPool maxConcurrentRequestsPerCPU="500" maxConcurrentThreadsPerCPU="0" requestQueueLimit="500" />-->
		<sessionState mode="InProc" timeout="40" regenerateExpiredSessionId="true"  cookieless="AutoDetect"/>
		<authentication mode="Forms">
			<forms loginUrl="~/Account/Login" protection="All" slidingExpiration="true" timeout="2880" />
		</authentication>
		<machineKey decryption="AES" validation="SHA1"
								decryptionKey="1513F567EE75F7FB5AC0AC4D79E1D9F25430E3E2F1BCDD3370BCFC4EFC97A541"
								validationKey="32CBA563F26041EE5B5FE9581076C40618DCC1218F5F447634EDE8624508A129" />
		<pages controlRenderingCompatibilityVersion="4.0">
			<namespaces>
				<add namespace="System.Web.Helpers" />
				<add namespace="System.Web.Mvc" />
				<add namespace="System.Web.Mvc.Ajax" />
				<add namespace="System.Web.Mvc.Html" />
				<add namespace="System.Web.Optimization" />
				<add namespace="System.Web.Routing" />
				<add namespace="System.Web.WebPages" />
			</namespaces>
		</pages>
		<httpModules>
			<add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" />
			<add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" />
			<add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" />
		</httpModules>
	</system.web>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true">
			<add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" preCondition="managedHandler" />
			<add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" preCondition="managedHandler" />
			<add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" preCondition="managedHandler" />
		</modules>
		<validation validateIntegratedModeConfiguration="false" />
		<handlers>
			<remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
			<remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
			<remove name="ExtensionlessUrlHandler-Integrated-4.0" />
			<add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
			<add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
			<add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
		</handlers>
	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
			</dependentAssembly>
		</assemblyBinding>
		<gcServer enabled="true" />
	</runtime>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
			<parameters>
				<parameter value="v11.0" />
			</parameters>
		</defaultConnectionFactory>
	</entityFramework>
	<elmah></elmah>
</configuration>