<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="proxyServices" type="ShareDeployed.Proxy.IoC.Config.ProxyServicesHandler, ShareDeployed.Proxy, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
	</configSections>

	<proxyServices omitExisting="true">
		<services>
			<service scope="1" alias="logAggregator" type="ShareDeployed.Proxy.Logging.LogAggregator, ShareDeployed.Proxy" 
					 contract="ShareDeployed.Proxy.Logging.ILogAggregator, ShareDeployed.Proxy" />
			<service alias="exceptionalInterceptor" type="ShareDeployed.Proxy.ExceptionInterceptor,ShareDeployed.Proxy">
				<property name="LogAggregator" alias="logAggregator" defaultIfMissed="true"/>
			</service>
		</services>
	</proxyServices>
	
	<log4net debug="true">
		<appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
			<file value="Log\\ProxyLog.txt" />
			<appendToFile value="true" />
			<rollingStyle value="Size" />
			<maxSizeRollBackups value="10" />
			<maximumFileSize value="10MB" />
			<staticLogFileName value="true" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%-5p %d %5rms %-22.22c{1} %-18.18M - %m%n" />
			</layout>
		</appender>
		<root>
			<level value="DEBUG" />
			<appender-ref ref="RollingLogFileAppender" />
		</root>
	</log4net>
</configuration>